Android.bp filter=lfs diff=lfs merge=lfs -text
benches filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
Cargo.toml filter=lfs diff=lfs merge=lfs -text
CODE_OF_CONDUCT.md filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
Cargo.toml.orig filter=lfs diff=lfs merge=lfs -text
examples filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
